<footer class="footer">
   <div class="container">
         <div class="footer-logo">
            <a href="#">
               <img src="/images/個人活動ロゴ_インクなし_白文字_v1.svg" alt="Ren">
            </a>
         </div>
         <nav class="footer-nav">
            <ul>
               <li>
                     <a href="/#value">
                        Value
                     </a>
               </li>
               <li>
                     <a href="/#about">
                        About
                     </a>
               </li>
               <li>
                     <a href="/#service">
                        Service
                     </a>
               </li>
               <li>
                     <a href="/#works">
                        Works
                     </a>
               </li>
               <li>
                     <a href="/#price">
                        Price
                     </a>
               </li>
               <li>
                     <a href="/#flow">
                        Flow
                     </a>
               </li>
               <li>
                     <a href="/#contact">
                        Contact
                     </a>
               </li>
            </ul>
         </nav>
         <p class="copyright">
            &copy; 2026 REN. All rights reserved.
         </p>
   </div>
</footer>